@typeparam TItem
@inherits BaseDataGrid<TItem>
@* there are two CascadingValue because one is used only to define columns, and the other is to build rows based on those columns *@
@* This one is to build rows *@
<CascadingValue Value=this>
    <Table Class="@Class" Margin="@Margin" Padding="@Padding" IsStriped="@IsStriped" IsBordered="@IsBordered" IsBorderless="@IsBorderless" IsHoverable="@IsHoverable" IsNarrow="@IsNarrow">
        <TableHeader>
            @if ( ShowCaptions )
            {
                <TableRow>
                    @foreach ( var column in Columns.Where(c => !c.Hide) )
                    {
                        @if ( column.ColumnType == DataGridColumnType.Command )
                        {
                            @if ( Editable )
                            {
                                <TableHeaderCell width="@column.Width">
                                    @if ( CanInsertNewItem && editState != DataGridEditState.New )
                                    {
                                        <_DataGridNewCommand TItem="TItem" New="@OnNewCommand" />
                                    }
                                </TableHeaderCell>
                            }
                        }
                        else
                        {
                            <TableHeaderCell Style="@(Sortable ? "cursor: pointer" : "")" Clicked="@(async () => await OnSortClicked( column ) )" width="@column.Width">
                                @if ( column.ShowCaption )
                                {
                                    @column.Caption
                                }
                                @if ( Sortable && column.Sortable && column.Direction != SortDirection.None )
                                {
                                    <Icon Name="@(column.Direction == SortDirection.Descending ? IconName.SortDown : IconName.SortUp)" />
                                }
                            </TableHeaderCell>
                        }
                    }
                </TableRow>
            }
            @if ( Filterable )
            {
                <TableRow>
                    @foreach ( var column in Columns.Where(c => !c.Hide) )
                    {
                        @if ( !column.Filterable )
                            continue;

                        @if ( column.ColumnType == DataGridColumnType.Command )
                        {
                            @if ( Editable )
                            {
                                // since Clear Filter is located in the command column it can be visible onle when Edit is enabled
                                <TableHeaderCell width="@column.Width">
                                    <_DataGridClearFilterCommand TItem="TItem" ClearFilter="@OnClearFilterCommand" />
                                </TableHeaderCell>
                            }
                        }
                        else
                        {
                            <TableHeaderCell width="@column.Width">
                                <TextEdit Text="@column.Filter.SearchValue" TextChanged="@(async ( newValue ) => await OnFilterChanged( column, newValue))" />
                            </TableHeaderCell>
                        }
                    }
                </TableRow>
            }
        </TableHeader>
        <TableBody>
            @if ( Editable && editState == DataGridEditState.New && EditMode != DataGridEditMode.Popup )
            {
                <_DataGridRowEdit TItem="TItem" Item="@editItem" Columns="@Columns" CellValues="@editItemCellValues" Save="@OnSaveCommand" Cancel="@OnCancelCommand" EditMode="@EditMode" />
            }
            @foreach ( var item in DisplayData )
            {
                @if ( Editable && editState == DataGridEditState.Edit && EditMode != DataGridEditMode.Popup && (object)item == (object)editItem )
                {
                    <_DataGridRowEdit TItem="TItem" Item="@editItem" Columns="@Columns" CellValues="@editItemCellValues" Save="@OnSaveCommand" Cancel="@OnCancelCommand" EditMode="@EditMode" />
                }
                else
                {
                    <_DataGridRow @key="@item" TItem="TItem" Item="@item" Columns="@Columns" HoverCursor="@(RowHoverCursor?.Invoke(item) ?? Cursor.Pointer)" Edit="@OnEditCommand" Delete="@OnDeleteCommand" Save="@OnSaveCommand" Cancel="@OnCancelCommand" Selected="@OnSelectedCommand" />
                    @if ( DetailRowTemplate != null )
                    {
                        var canShow = DetailRowTrigger?.Invoke( item ) ?? true;

                        @if ( canShow )
                        {
                            <_DataGridDetailRow TItem="TItem" Item="@item" Columns="@Columns.ToList()">
                                @DetailRowTemplate( item )
                            </_DataGridDetailRow>
                        }
                    }
                }
            }
        </TableBody>
    </Table>
    @if ( ShowPager )
    {
        <Pagination>
            <PaginationItem IsDisabled="@(CurrentPage <= 1)">
                <PaginationLink Page="prev" Clicked="@OnPaginationItemClick">
                    Prev
                </PaginationLink>
            </PaginationItem>
            @for ( int i = FirstVisiblePage; i <= LastVisiblePage; ++i )
            {
                var pageName = i.ToString();

                <PaginationItem IsDisabled="@(i == CurrentPage)" IsActive="@(i == CurrentPage)">
                    <PaginationLink Page="@pageName" Clicked="@OnPaginationItemClick">
                        @pageName
                    </PaginationLink>
                </PaginationItem>
            }
            <PaginationItem IsDisabled="@(CurrentPage >= LastPage)">
                <PaginationLink Page="next" Clicked="@OnPaginationItemClick">
                    Next
                </PaginationLink>
            </PaginationItem>
        </Pagination>
    }
    @if ( editItem != null && EditMode == DataGridEditMode.Popup )
    {
        @if ( PopupTemplate != null )
        {
            @PopupTemplate( new PopupContext<TItem>(columns: AllColumns, itemCellValues: editItemCellValues)
            {
                Item = editItem,
                PopupVisible = PopupVisible,
                EditState = editState,
                Save = EventCallback.Factory.Create(this, OnSaveCommand),
                Cancel = EventCallback.Factory.Create(this, OnCancelCommand)
            });
        }
        else
        {
        <_DataGridModal TItem="TItem"
                        EditItem="@editItem"
                        EditItemCellValues="@editItemCellValues"
                        Columns="@Columns"
                        PopupVisible="@PopupVisible"
                        EditState="@editState"
                        Save="@OnSaveCommand"
                        Cancel="@OnCancelCommand" />
        }
    }
</CascadingValue>
@* This one is to hold information about column *@
<CascadingValue Value=this>
    @ChildContent
</CascadingValue>